<main class="main">
  <stepper state="{{user}}"></stepper>
  <div>
    <form class="form">
      First name:<br>
      <input type="text" ng-model="user.name" name="firstname" required>
      <br>
      Age:<br>
      <input type="text" ng-model="user.age" name="age">
      <br>
      Sex:<br>
      <input type="radio" ng-model="user.gender" name="gender" value="male" required> Male<br>
      <input type="radio" ng-model="user.gender" name="gender" value="female" required> Female<br>
      <br>
      Phone:<br>
      <input type="text" ng-model="user.phone" name="phone" required>
      <br>
      Email:<br>
      <input type="email" ng-model="user.email" name="email" required>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <pre ng-if="user.name && user.age 
              && user.gender && 
              user.phone && user.email">{{user | json}}</pre>
</main>